.options {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-top: 20px;
    position: relative;
    margin-bottom: 15px;

}

.options button {
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(222, 220, 220);
}

.options button:hover {
    background-color: rgb(182, 180, 180);
    color: white;
}

.reset button {
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    margin-top: 10px;
}


@media (max-width: 768px) {
    .options {
        flex-direction: row;
        align-items: flex-start;
        max-width: 100%;
        gap: 10px;
    }

    .options button {
        max-width: calc((100%/4)-10px);
        padding: 10px;
        font-size: 24px;
    }

}